
@{
}

<form method="post">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="" class="form-label">Titre</label>
                <input type="text" class="form-control" id="" name="Titre" placeholder="Ton titre super génial !">
                <input type="text" class="form-control" id="" name="Titre" placeholder="Ton titre (bis) super génial !">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="" class="form-label">Url de ton selfie</label>
                <input type="text" class="form-control" id="" name="Image" placeholder="Ton selfie !">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="" class="form-label">Humeur</label>
                <input type="checkbox" class="form-control" id="" value="1" name="Humeur" placeholder="Heureux-se ?">
                <input type="checkbox" class="form-control" id="" value="2" name="Humeur" placeholder="Heureux-se ?">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" value="Ajouter" class="btn btn-primary" />
        </div>
    </div>
</form>